@model HelloMVC.Models.PlayersViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.player.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
