@model List<HelloMVC.Models.PlayersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetEnumerator().Current.TeamName)
        </th>
        <th>Operation</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerID })
        </td>
    </tr>
}

</table>
